@import "src/styles/variable"

.movie
  position: relative
  box-shadow: inset 0 0 1100rem #000
  background-size: cover
  z-index: 1
  background-blend-mode: saturation
  padding-top: 10rem
  padding-bottom: 10rem

  &::after
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: ''
    background: rgba(0, 0, 0, 0.85)
    backdrop-filter: blur(3px)
    z-index: -1
.movie_wrapper
  display: flex
  justify-content: flex-start
.posterAndCast
  flex-basis: 33%
  position: relative
  margin-right: 10rem
  text-align: center
  font-family: Roboto, sans-serif
  img
    width: 70%
.info
  flex-basis: 50%
  font-family: Roboto, sans-serif
  color: #ffffff
.title
  margin: 0
  font-family: Staatliches, sans-serif
  font-size: 4.2rem
  letter-spacing: .2rem
  text-transform: uppercase
  span
    color: $color-second

.subtitle
  font-family: Arial, sans-serif
  font-size: 1.8rem
  font-weight: 400
  display: flex
  align-items: center
  span
    margin-left: .2rem
    margin-right: .2rem
.second
  color: $color-second
.dots
  font-size: 3rem


.userScore

  display: flex
  align-items: center

  padding-top: 4rem

.indicator
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  position: absolute
  top: 0
  width: 100%
  height: 100%
  margin: 0 auto
  font-family: Roboto, sans-serif
  font-size: 2.2em
  font-weight: 600
  color: #ffffff
  user-select: none


.userScore_text
  font-family: Arial, sans-serif
  font-size: 2rem

  font-weight: 700
  width: 6rem
.overview
  padding-top: 5rem


  &_title
    font-size: 3.6rem
    font-weight: 500
  &_text
    padding-top: 1.4rem
    font-size: 2rem
    font-weight: 400
.infoGrid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-row-gap: 5rem
  padding-top: 8rem
.gridElem
  &_value
    font-size: 2rem
    font-weight: 500

  &_category
    font-size: 1.6rem
    padding-top: .5rem
    font-weight: 300
    color: $color-second
.btn
  font-family: Staatliches, sans-serif
  font-size: 6.6rem
  padding-top: 10rem
  text-align: center
  letter-spacing: .2rem
  a
    position: relative
    &:hover
      //color: $color-accent
      &::after
        width: 100%
        transition: all .2s ease
    &::after
      position: absolute
      width: 0
      content: ''
      bottom: 0
      margin: auto
      left: 0
      right: 0
      height: 0.2rem
      background-color: #ffffff

.cast

  &_title
    text-align: center
    font-size: 3.6rem
    font-weight: 500
    text-transform: uppercase
    color: #ffffff
    padding-top: 5rem
    padding-bottom: 1.5rem
  &_elem
    text-align: center
    color: #ffffff
    font-size: 2rem
    font-weight: 400
    padding: .7rem
    span
      color: $color-second
      font-weight: 400
      font-style: italic

@media screen and (max-width: 1400px)

@media screen and (max-width: 1200px)

@media screen and (max-width: 992px)
  .movie
    padding-top: 8rem
    padding-bottom: 8rem
    min-height: 80vh
  .subtitle
    justify-content: center
    align-items: center
  .posterAndCast
    display: none
  .info
    text-align: center
    flex-basis: 90%
  .userScore
    display: none
  .movie_wrapper
    justify-content: center
@media screen and (max-width: 768px)

@media screen and (max-width: 576px)
  .movie
    padding-top: 4rem
    padding-bottom: 4rem
  .title
    font-size: 3.2rem
    margin-bottom: 2rem
  .subtitle
    font-size: 1.6rem
  .btn
    font-size: 4rem
    padding-top: 6rem
  .infoGrid
    grid-template-columns: 1fr
    grid-row-gap: 1rem
    padding-top: 5rem


  .gridElem
    display: flex
    flex-wrap: wrap
    align-items: center
    &_value
      font-size: 2rem
      order: 2
    &_category
      position: relative
      font-size: 2rem
      margin-right: 1rem
      padding: 0
      order: 1
      &::after
        position: absolute
        content: ': '
        top: 0
        right: -.4rem
        color: #fff



