@import src/styles/variable
.nav
  font-family: Roboto, sans-serif
  position: sticky
  top: 0
  z-index: 999
  background: #ffffff
.nav_wrapper
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem


.logo
  text-align: left
  flex-basis: 33%
  a
    color: #3f444e
    font-size: 2.2rem
    font-weight: 700
    text-transform: uppercase
    span
      color: $color-accent

.menu
  text-align: center
  flex-basis: 33%

.pages

  width: 3rem
  height: 3rem
  padding-left: 1rem
  padding-right: 1rem

.avatar
  text-align: right
  flex-basis: 33%
  font-size: 1.8rem
  font-weight: 700

@media screen and (max-width: 1400px)

@media screen and (max-width: 1200px)

@media screen and (max-width: 992px)

@media screen and (max-width: 768px)

@media screen and (max-width: 576px)
  .avatar
    display: none
  .menu
    display: flex
